@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";

html,
body {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  -webkit-overflow-scrolling: touch;

  background-color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

/* 안전 영역 지원 */
@supports (padding: max(0px)) {
  body {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
